<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exceljs and populate</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />

	<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<!--

		<script src="/assets/polyfill.min.js_7.10.4/cdnjs/polyfill.min.js"></script>
		<script src="/assets/exceljs/dist/exceljs.bare.js"></script>
	-->

    <script>
        const worker = new Worker("/assets/excel/excel.js");

        worker.onmessage = function(messageEvent){
            console.log( messageEvent.data );
            switch (messageEvent.data.type){
                case "blob" :
                    const url = window.URL.createObjectURL(messageEvent.data.data);
                    const anchor = document.createElement('a');
                    anchor.href = url;
                    anchor.download = `테스트.xlsx`;
                    anchor.click();
                    window.URL.revokeObjectURL(url);
					break;
				case "message":
					console.log(`${new Date()} ${messageEvent.data.data}`)
					break;

            }
        }

        let grid;
        function test(){
			console.log(grid)
			let columns = grid.getColumns().map(function(column){
				return {header : column.header
					  , key : column.name
					  , width : column.width
					  , formatter : column.formatter
				}
			});

			let data = grid.getData();

			console.log(data);


			if(true /*isCurrent*/){


			}else{

			}
			console.log(data);
            worker.postMessage({
				  type:"export"
				, data : {
					fileName: "파일명.xlsx",
					creator : 'lee.yj',
					worksheets: [{
						sheetName : "aaa",
						columns: columns,
						data: data
					},{
						sheetName : "aaab",
						columns: columns,
						data: data
					}],
					password : '1234'
				}
			})
        }
        function fn_onLoad(){
            let gridData = new Array();

            for(let i = 0 ; i < 1000; i++){
                gridData.push({
					columnChar: 'Y',
					columnString: 'String가나다!@#$#',
					columnInt: 999,
					columnLong: 999999999999999,
					columnDouble: 99.99,
					columnBoolean: true,
					columnDate: new Date(),
					columnLocalDateTime: new Date(),
				})
            }

            grid = new tui.Grid({
                el: document.getElementById('grid'),
                scrollX: false,
                scrollY: false,
				data : {
					initialRequest : true,
					api: {
						readData: { url: '/api/v1/readData', method: 'GET' }
					},
				},
				bodyHeight : 400,
				pageOptions : {
					useClient: false,
					perPage : 10
				},
                columns: [
					{header: 'Char', name: 'columnChar' },
					{header: 'String', name: 'columnString' },
					{header: 'Int', name: 'columnInt' },
					{header: 'Long', name: 'columnLong' },
					{header: 'Double', name: 'columnDouble' },
					{header: 'Boolean', name: 'columnBoolean' },
					{header: 'Date', name: 'columnDate' },
					{header: 'LocalDateTime', name: 'columnLocalDateTime' },
				]
            });

        }
    </script>
</head>
<body onload="fn_onLoad()">
<input type="button" value="excel" onclick="test()">
<p>GRID</p>
<a href="https://nhn.github.io/tui.grid/latest/">https://nhn.github.io/tui.grid/latest/</a>
<div id="grid">

    aa
</div>








</body>
</html>
